{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{ type }}</h1>

    <div class="well">
        <ul>
            <li><b>Name:</b> {{ type.name }}</li>
            <li><b>Manufacturer:</b> {{ type.manufacturer }}</li>
            <li><b>Type:</b> {{ type.type }}</li>
        </ul>
    </div>

    <a class="btn btn-default" href="{{ path('type_edit', {id: type.id}) }}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
    </a>

    <table class="table table-hover" style="margin-top: 15px;">
        <tr>
            <th>Number</th>
            <th>IMEI</th>
            <th>MAC address</th>
            <th>Status</th>
        </tr>
        {% for device in devices %}
            <tr class="{{ device.lent ? 'warning' : not device.available ? 'danger' : '' }}">
                <td><a href="{{ path('device_show', {id: device.id}) }}">{{ device.number ?: '-' }}</a></td>
                <td><a href="{{ path('device_show', {id: device.id}) }}">{{ device.imei ?: '(unknown)' }}</a></td>
                <td><a href="{{ path('device_show', {id: device.id}) }}">{{ device.mac ?: '(unknown)' }}</a></td>
                <td>{{ device.status}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
